.fall-collection {
    &__card {
        height: 280px;
        width: 220px;
        margin: 20px 20px 20px 20px;
        position: relative;
        cursor: pointer;
        &__image {
            width: 220px;
        }
        &:hover {
            opacity: 0.3;
        }
        &__add {
            color: white;
            font-size: .8em;
            position: relative; // bottom: 0px;
            top: 0px;
            left: 0;
            margin: -30px auto auto auto;
            right: 0;
            border-bottom: 30px solid black;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            height: 0;
            width: 100px;
            &__hoverBox {
                opacity: 0;
                position: absolute; //top: 140px;
                left: 50%;
                top: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
                &:hover {
                    opacity: 1;
                }
                &__text {
                    color: black;
                    font-size: 24px;
                    padding: 50px 32px;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            &--text {
                font-weight: 700;
                position: relative;
                top: 10px;
                left: 0;
                width: 100%;
            }
        }
    }
}

#fall-collection-carousel {
    border: 1px solid lightgrey;
    margin-top: 40px;
    margin-bottom: 110px;
    padding: 0;
}