.home {
    height: 500px;
    padding-top: 140px;
    @include atMedium {
        margin-bottom: 0;
        padding-top: 0;
    }
    &__shop-button {
        position: absolute;
        width: 100px;
        background: orange;
        border: none;
        color: white;
        padding: 10px;
        top: 180px;
        left: 15%;
        @include atMedium {
            top: 210px;
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            padding: 12px;
            width: 120px;
            font-size: 1em;
            font-weight: bold;
        }
    }
}

.home__card {
    position: relative;
    width: 100%;
    cursor: pointer;
    height: 100%;
    &:hover {
        opacity: .3;
    } // &__image {
    //     opacity: 0;
    //     position: absolute;
    //     left: 50%;
    //     top: 50%;
    //     width: 100%;
    //     height: 100%;
    //     transform: translate(-50%, -50%);
    //     -ms-transform: translate(-50%, -50%);
    //     text-align: center;
    //     &:hover {
    //         opacity: 1;
    //     }
    // }
    &__hoverBox {
        opacity: 0;
        position: absolute; //top: 140px;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        &:hover {
            opacity: 1;
        }
        &__text {
            color: green;
            font-size: 24px;
            padding: 50px 32px;
        }
    }
}

.home-carousel__image {
    .home__card {
        position: relative;
        width: 50%;
        cursor: pointer;
        &:hover {
            opacity: .3;
        }
        &__hover-text {
            color: black;
            font-size: 24px;
            padding: 50px 32px;
        }
    }
}

.home__sale-card {
    border: 1px solid gray;
    position: absolute;
    top: 570px;
    left: 60%;
    padding: 20px 30px;
    z-index: 5;
    @include atSmall {
        top: 400px;
        left: 60%;
        padding: 20px 30px;
    }
    @include atMedium {
        top: 200px;
        padding: 35px 45px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    @include atExtraLarge {
        top: 300px;
    }
    &:before {
        content: ' ';
        position: absolute;
        z-index: -1;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border: 1px solid grey;
    }
    &--season {
        color: grey;
        font-size: 0.8em;
        display: block;
    }
    &--sale {
        color: black;
        font-size: 2em;
        display: block;
        margin-top: 10px;
    }
    &--up-to {
        color: grey;
        font-size: 0.9em;
        display: block;
        margin-top: 10px;
    }
    &--off {
        color: black;
        font-size: 1.2em;
        display: block;
        margin-top: 10px;
    }
}

#home-carousel {
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    @include atMedium {
        border-bottom: 2px solid grey;
        border-top: 2px solid grey;
        padding-bottom: 13px;
        margin-top: 0px;
        width: 100%;
    }
    @include atExtraLarge {
        height: 731px;
    }
}

.triangle-container {
    // position: relative; //overflow: hidden;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 108px;
    z-index: 15;
    @include atExtraLarge {
        top: 180px;
    }
}

.primary-nav__logo--triangle {
    @include atMedium {
        height: 50px;
        width: 240px;
        border-top: 1px solid grey;
    }
    &:after,
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &:before,
    &:after {
        border-left: 120px solid transparent;
        border-right: 120px solid transparent;
        border-top: 50px solid grey;
    }
    &:after {
        border-top-color: white;
        top: -1px;
    }
}

.home__card--test {
    position: relative;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    height: 470px;
    @include atExtraLarge {
        height: 800px;
        margin-top: -20px;
    }
}

.home__card--test img {
    width: 75%;
    height: 50%;
    padding-top: 24px;
    @include atExtraLarge {
        height: 740px;
        width: 140%;
    }
}

.left-model {
    // width: 200px;
    // border: 1px solid green;
    // display: inline-block;
    // padding-left: 200px;
    // margin-top: -268px;
    float: left;
    padding-left: 40px;
    @include atExtraLarge {
        padding-left: 80px;
    }
}

.right-model {
    // width: 200px;
    // border: 1px solid green;
    // display: inline-block;
    // padding-left: 200px;
    // margin-top: -268px;
    float: right;
    padding-right: 10px;
    @include atExtraLarge {
        padding-right: 20px;
    }
}