.home {
    height: 500px;
    padding-top: 140px;
    @include atLarge {
        margin-bottom: 0;
    }
    &__shop-button {
        position: absolute;
        width: 100px;
        background: orange;
        border: none;
        color: white;
        padding: 10px;
        top: 180px;
        left: 15%;
    }
}

.home-carousel__image {
    z-index: 1;
    width: 100%;
    height: 550px;
}

.home__sale-card {
    border: 1px solid gray;
    position: absolute;
    top: 570px;
    left: 60%;
    padding: 20px 30px;
    z-index: 5;
    @include atSmall {
        top: 400px;
        left: 60%;
        padding: 20px 30px;
    }
    &:before {
        content: ' ';
        position: absolute;
        z-index: -1;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border: 1px solid grey;
    }
    &--season {
        color: grey;
        font-size: 0.8em;
        display: block;
    }
    &--sale {
        color: black;
        font-size: 2em;
        display: block;
        margin-top: 10px;
    }
    &--up-to {
        color: grey;
        font-size: 0.9em;
        display: block;
        margin-top: 10px;
    }
    &--off {
        color: black;
        font-size: 1.2em;
        display: block;
        margin-top: 10px;
    }
}

#home-carousel {
    border: 2px solid grey;
    @include atMedium {
        margin-left: 20px;
    }
}