.our-brands {
    &__card {
        //padding-top: 100px;
        // margin: 10px;
        &__image {
            width: 100%;
        }
    }
}

#our-brands-carousel {
    padding-bottom: 20px;
    @include atMedium {
        padding: 60px 40px 60px 40px;
    }
    @include atExtraLarge {
        padding: 100px 40px 100px 40px;
    }
}