// .testimonials {
//     &__card {
//         height: 400px;
//         border: 1px solid grey;
//         padding: 1px;
//         box-sizing: border-box;
//         &__quote {
//             color: grey;
//             margin: 20px 0px 0px 10px;
//             font-size: 1.4em;
//             display: inline;
//             font-family: 'Yesteryear', cursive;
//             &--name {
//                 margin: 40px 200px 0px 0;
//                 color: black;
//                 font-size: 2.4em;
//                 display: inline;
//                 font-family: 'Yesteryear', cursive;
//             }
//             &--job {
//                 color: darkgrey;
//                 font-size: 1.4em;
//                 margin: 20px 200px 40px 10px;
//                 display: inline;
//             }
//         }
//         &__image {
//             float: left;
//             height: 300px;
//             width: 210px;
//         }
//     }
// }
// #testimonials-carousel {
//     padding-top: 50px; // padding-bottom: 40px;
// }
.testimonials {
    padding-bottom: 50px;
    @include atMedium {
        padding-bottom: 30px;
    }
    @include atExtraLarge {
        padding-bottom: 70px;
    }
    &__card {
        &__quote {
            font-family: 'Yesteryear', cursive;
            padding-top: 40px;
            margin: 0 auto;
            font-size: 1.4em;
            @include atMedium {
                padding-top: 50px;
            }
            @include atExtraLarge {
                padding-top: 80px;
                font-size: 2em;
            }
            &--name {
                font-family: 'Yesteryear', cursive;
                padding-top: 50px;
                font-size: 2em;
                color: grey;
                @include atMedium {
                    padding-top: 20px;
                    font-size: 1.8em;
                }
                @include atExtraLarge {
                    padding-top: 80px;
                    font-size: 2.4em;
                }
            }
            &--job {
                padding-top: 15px;
                font-size: 1em; //margin-bottom: 40px;
                @include atMedium {
                    padding-top: 5px;
                    font-size: .8em;
                }
                @include atExtraLarge {
                    padding-top: 20px;
                    font-size: 1em;
                }
            }
        }
        &__image {
            height: 240px;
            width: 210px;
            @include atExtraLarge {
                height: 370px;
                width: 340px
            }
        }
    }
}

#testimonials-carousel {
    margin-top: 50px;
    border: 2px solid grey;
    padding-top: 40px;
    @include atMedium {
        margin-top: -20px;
        padding-top: 0px;
    }
    @include atExtraLarge {
        margin-top: 30px;
        padding-top: 60px;
    }
}

.testimonials__card__text-container {
    float: left;
    width: 50%;
    text-align: left;
    padding-left: 70px;
    @include atMedium {
        width: 49%;
    }
}

.testimonials__card__image-container {
    float: left;
    padding: 20px 20px 1px 1px;
    width: 30%;
    @include atMedium {
        padding: 0px 20px 0px 0px;
        width: 30%;
    }
}

.testimonials__triangle__container {
    // position: relative; //overflow: hidden;
    position: relative; // left: 75%;
    // -webkit-transform: translateX(-50%);
    // transform: translateX(-50%);
    top: 81px;
    z-index: 20;
    left: 44%;
}

.testimonials__triangle {
    @include atMedium {
        height: 50px;
        width: 240px;
        border-top: 1px solid grey;
    }
    &:after,
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &:before,
    &:after {
        border-left: 120px solid transparent;
        border-right: 120px solid transparent;
        border-top: 50px solid grey;
    }
    &:after {
        border-top-color: white;
        top: -1px;
    }
}